/*=====================================

animation

=====================================*/

@include keyframes(slide01) {
  from {
    opacity: 1;
    right: -100px;
  }
  to {
    opacity: 1;
    right: 15px;
  }
}

@include keyframes(scale01) {
  from {
    opacity: 0;
    @include transform(scale(0));
  }
  to {
    opacity: 1;
    @include transform(scale(1));
  }
}

@include keyframes(bg01) {
  from {
    @include transform(scale(1));
  }
  to {
    @include transform(scale(1.2));
  }
}

@include keyframes(scale02) {
  from {
    opacity: 1;
    @include transform(scale(1));
  }
  to {
    opacity: 0;
    @include transform(scale(0));
  }
}

@include keyframes(bg02) {
  from {
    @include transform(scale(1.2));
  }
  to {
    @include transform(scale(1));
  }
}

@include keyframes(bg03) {
  from {
    background: $color-main;
    border-color: #FFF;
    color: #FFF;
  }
  to {
    background: #FFF;
    border-color: $color-main;
    color: $color-main;
  }
}

@include keyframes(bg04) {
  from {
    background: #FFF;
    border-color: $color-main;
    color: $color-main;
  }
  to {
    background: $color-main;
    border-color: #FFF;
    color: #FFF;
  }
}

@include keyframes(opac01) {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@include keyframes(rotate01) {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}


@include keyframes(rotate02) {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(180deg);
  }
}

/*===========================

  logo

===========================*/

@include keyframes(logo01) {
  from {
    top: -70px;
    //opacity: 0;
    transform: scale(0.7);
  }
  to {
    top: -25px;
    //opacity: 1;
    transform: scale(0.7);
  }
}

/*===========================

  loading

===========================*/

@include keyframes(loading) {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(0.8);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

/*===========================

  cntsThumb01

===========================*/

@include keyframes(cntsThumb01) {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}


@include keyframes(cntsThumb02) {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@include keyframes(cntsThumbIcn01) {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(120deg);
  }
}


@include keyframes(cntsThumbIcn02) {
  from {
    transform: rotate(120deg);
  }
  to {
    transform: rotate(0);
  }
}

@include keyframes(shadow01) {
  from {
    box-shadow:rgba(0, 0, 0, 0.3) 0px 0px 0px 0px;
    -webkit-box-shadow:rgba(0, 0, 0, 0.3) 0px 0px 0px 0px;
    -moz-box-shadow:rgba(0, 0, 0, 0.3) 0px 0px 0px 0px;
  }
  to {
    box-shadow:rgba(0, 0, 0, 0.3) 0px 0px 6px 3px;
    -webkit-box-shadow:rgba(0, 0, 0, 0.3) 0px 0px 6px 3px;
    -moz-box-shadow:rgba(0, 0, 0, 0.3) 0px 0px 6px 3px;
  }
}

@include keyframes(shadow02) {
  from {
    box-shadow:rgba(0, 0, 0, 0.3) 0px 0px 6px 3px;
    -webkit-box-shadow:rgba(0, 0, 0, 0.3) 0px 0px 6px 3px;
    -moz-box-shadow:rgba(0, 0, 0, 0.3) 0px 0px 6px 3px;
  }
  to {
    box-shadow:rgba(0, 0, 0, 0.3) 0px 0px 0px 0px;
    -webkit-box-shadow:rgba(0, 0, 0, 0.3) 0px 0px 0px 0px;
    -moz-box-shadow:rgba(0, 0, 0, 0.3) 0px 0px 0px 0px;
  }
}
