/*=====================================

category list

=====================================*/


.MdCatImg01{
  margin: 60px 0 20px 0;
  padding: 20px 0;

  .mdImg{

    display: inline-block;

    &.ExPhoto{
      background: url( $path-svg + 'icon_photo.svg' ) no-repeat;
      transform: scale(1);
    }

    &.ExInterior{
      background: url( $path-svg + 'icon_interior.svg' ) no-repeat;
      transform: scale(1.5);
    }

    &.ExMusic{
      background: url( $path-svg + 'icon_music.svg' ) no-repeat;
      transform: scale(1);
    }

    &.ExDiary{
      background: url( $path-svg + 'icon_diary.svg' ) no-repeat;
      transform: scale(1);
    }
  }


}


