/*=====================================

font

=====================================*/

@mixin Layout {

  /*===========================
  header
  ===========================*/

  .LyHead{
    border-bottom: solid 5px $color-main;
    position: relative;
    width: 100%;
    height: 130px;
  }

  .MdHead{
    margin: 0 auto;
    width: 1000px;
    .mdLogo{
      @include hide-text;
      margin: 20px auto;
      width: 90px;
      height: 70px;
      background: url( "/assets/svg/logo.svg" ) no-repeat;
    }
  }

  .MdGNV{
    text-align: center;
    li{
      display: inline-block;
      position: relative;
      margin-right: 10px;
      padding-left: 20px;
      line-height: 1;
      font-family: "noto-bold";

      &:last-child{
        margin-right: 0;
      }

      span:before{
        @include position(absolute, 2px null null 5px);
        color: $color-main;
        font-size: 15px;
      }
    }
  }

  .MdSearch{
    @include position(absolute, null 20px 20px null);


    input {
      @include border-top-radius(5px);
      @include border-bottom-radius(5px);
      border: none;
      padding: 2px 30px 2px 5px;
      background: $color-main;
      color: #FFF;
      width: 200px;
      font-size: 14px;
    }

    button{
      border: none;
      background: none;
      color: #FFF;
      font-size: 22px;
      @include position(absolute, -3px -3px null null);
    }

  }
}