/*=====================================

setting

=====================================*/

@mixin Setting {
  body{
    font-family: 'noto-regular';
    font-size: 14px;
    line-height: 1.5;
    color: $color-default;
  }

  a{
    color: $color-main;
    text-decoration: none;

    &:hover{
      text-decoration: underline;
    }
  }
  
}