
@include keyframe(fadeout) {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@include keyframe(svgAnime1) {
  0% {
    left: 0;
    top: 0;
    transform:scale(1);
  }
  25% {
    left: -5px;
    top: -5px;
    transform:scale(0.95);
  }
  50% {
    left: 5px;
    top: 0px;
    transform:scale(0.9);
  }
  70% {
    left: 0px;
    top: 0px;
    transform:scale(1);
  }
  100% {
    left: 0;
    top: 0;
    transform:scale(1);
  }
}

@include keyframe(svgAnime2) {
  0% {
    left: 0;
    top: 0;
    transform:scale(1);
  }
  25% {
    left: 10px;
    top: 0px;
    transform:scale(1.05);
  }
  50% {
    left: 5px;
    top: 10px;
    transform:scale(1.05);
  }
  75% {
    left: 10px;
    top: 0px;
    transform:scale(0.95);
  }
  100% {
    left: 0;
    top: 0;
    transform:scale(1);
  }
}

@include keyframe(svgAnime3) {
  0% {
    left: 0;
    top: 0;
    transform:scale(1);
  }
  25% {
    left: 0px;
    top: 20px;
    transform:scale(0.95);
  }
  50% {
    left: 10px;
    top: 10px;
    transform:scale(1);
  }
  75% {
    left: 15px;
    top: 0px;
    transform:scale(0.95);
  }
  100% {
    left: 0;
    top: 0;
    transform:scale(1);
  }
}

@include keyframe(svgAnime4) {
  0% {
    left: 0;
    top: 0;
    transform:scale(1);
  }
  25% {
    left: 10px;
    top:  -10px;
    transform:scale(1);
  }
  50% {
    left: 10px;
    top: 10px;
    transform:scale(1.05);
  }
  750% {
    left: -5px;
    top: 5px;
    transform:scale(1.05);
  }
  100% {
    left: 0;
    top: 0;
    transform:scale(1);
  }
}

@include keyframe(svgAnime5) {
  0% {
    left: 0;
    top: 0;
    transform:scale(1);
  }
  25% {
    left: -10px;
    top: -15px;
    transform:scale(1);
  }
  50% {
    left: 0px;
    top: -10px;
    transform:scale(1.05);
  }
  75% {
    left: 0px;
    top: 10px;
    transform:scale(1);
  }
  100% {
    left: 0;
    top: 0;
    transform:scale(1);
  }
}

@include keyframe(svgAnime6) {
  0% {
    left: 0;
    top: 0;
    transform:scale(1);
  }
  25% {
    left: 10px;
    top: 5px;
    transform:scale(0.95);
  }
  50% {
    left: 5px;
    top: 0px;
    transform:scale(1.05);
  }
  75% {
    left: -10px;
    top: 0px;
    transform:scale(1);
  }
  100% {
    left: 0;
    top: 0;
    transform:scale(1);
  }
}
#bgLayers{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


@for $i from 0 through 7 {
  .svg#{$i}{
    position: absolute;
    z-index: 7 - $i;
    width: 100%;
    height: 100%;
    

    img{
      width: 100%;
      height: 100%;
    }

    @if $i < 7 {
      @include animation( 0s, 40s, svgAnime#{$i}, linear, forwards, infinite );
    }

    @if $i == 7 {
      background:transparent url('/assets/svg/layer7.svg') no-repeat;
      background-size: cover;
    }
  }
}
