@charset "utf-8";
@import "mixins/_reset";
@import "mixins/_support";
@import "bourbon/bourbon";

/*=====================================

共通変数

=====================================*/

$color-main: #ff533f;
$color-default: #333;
$path-svg:"/assets/svg/";

/*=====================================

フォント

=====================================*/

@import "mixins/_font";

@include WebFont;
@include IconFont;

/*=====================================

共通スタイル

=====================================*/

@import "mixins/_setting";

@include Setting;

/*=====================================

アニメーション

=====================================*/

@import "mixins/_animations";

/*=====================================

共通レイアウト

=====================================*/

@import "mixins/_common";

@include Layout;
@include MdPager01;

/*=====================================

トップページ

=====================================*/

@import "mixins/_top";

@include MdSlideContianer;
@include MdCntsThumb01;