@charset "utf-8";
@import "mixins/_reset";
@import "mixins/_support";
@import "bourbon/bourbon";

/*=====================================

共通変数

=====================================*/

$color-main: #ff533f;
$color-default: #000;
$color-gray: #666;
$color-border-gray: #CCC;
$color-bg-gray: #f4f4f4;
$path-svg:"/assets/svg/";

/*=====================================

フォント

=====================================*/

@import "mixins/_font";

/*=====================================

共通スタイル

=====================================*/

@import "mixins/_setting";

/*=====================================

アニメーション

=====================================*/

@import "mixins/_animations";

/*=====================================

共通レイアウト

=====================================*/

@import "mixins/_common";

.LySP{
  @import "mixins/_common_sp";
}


/*=====================================

トップページ

=====================================*/

@import "mixins/_top";
@import "mixins/_slick";

.LySP{
  @import "mixins/_top_sp";
}


/*=====================================

シングルページ

=====================================*/

@import "mixins/_single";

.LySP{
  @import "mixins/_single_sp";
}

/*=====================================

カテゴリリスト

=====================================*/

@import "mixins/_catList";

.LySP{
  @import "mixins/_catList_sp";
}
