doctype
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico")
    title Indoor Living
    meta(name="description", content="")
    meta(name="keywords", content="")
    meta(name="author", content="")
    meta(property="og:title", content="")
    meta(property="og:type", content="website")
    meta(property="og:url", content="")
    meta(property="og:image", content="")
    meta(property="og:site_name", content="")
    meta(property="og:description", content="")
    meta(property="fb:app_id", content="")
    link(rel="stylesheet" href="/assets/css/layout.css")
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-77747096-1', 'auto');
      ga('send', 'pageview');

  body.LySP

    #Wrapper

      #Main

      .LyFtr
        p#FncPlayerOpen.mdPlayerOpen
          a(href="#")
            img(src="/assets/svg/player.svg" alt="Music Player")
        footer.MdFtr
          p.mdFtrCopyright Copyright &copy; 2016 Indoor Living All right reserved.

      #Music

      #MdLoading
        div
          ul
            li
            li
            li


    script(src="/assets/js/lib.js")
    script(src="/assets/js/slick.js")
    script(src="/assets/js/app.js")