doctype
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Indoor Living
    meta(name="description", content="")
    meta(name="keywords", content="")
    meta(name="author", content="")
    meta(property="og:title", content="")
    meta(property="og:type", content="website")
    meta(property="og:url", content="")
    meta(property="og:image", content="")
    meta(property="og:site_name", content="")
    meta(property="og:description", content="")
    meta(property="fb:app_id", content="")
    link(rel="stylesheet" href="/assets/css/layout.css")

  body

    .LyHead
      header.MdHead
        p.mdLogo Indoor Living
        nav#Gnav.MdGNV

        form.MdSearch(method="post" action="#")
          input(type="text")
          button.icon-icon_search(type="submit")

    div#Mainvisual.MdSlideContianer

    #Main.LyMain

      .LyCntsList

      ul.MdPager01
        li
          a.stay(href="#") 1
        li
          a(href="#") 2
        li
          a(href="#") 3
        li
          a(href="#") 4
        li
          a(href="#") 5

    .LyFtr.ExHidden
      footer.MdFtr
        p.mdFtrCopyright Copyright &copy; 2015 horiuchi. All right reserved.

    //- .MdLoader01
    //-   .MdLoader01Ball

    script(src="/assets/js/lib.js")
    script(src="/assets/js/app.js")
