doctype
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Indoor Living
    meta(name="description", content="")
    meta(name="keywords", content="")
    meta(name="author", content="")
    meta(property="og:title", content="")
    meta(property="og:type", content="website")
    meta(property="og:url", content="")
    meta(property="og:image", content="")
    meta(property="og:site_name", content="")
    meta(property="og:description", content="")
    meta(property="fb:app_id", content="")
    link(rel="stylesheet" href="/assets/css/layout.css")

  body
    .LyHead
      header.MdHead
        h1.mdLogo Indoor Living
        nav#Gnav.MdGNV
          ul
            li
              span.icon-icon05
              a(href="#") About
            li
              span.icon-icon05
              a(href="#") Music
            li
              span.icon-icon05
              a(href="#") Camera
            li
              span.icon-icon05
              a(href="#") Interior

        form.MdSearch(method="post" action="#")
          input(type="text")
          button.icon-icon_search(type="submit")

    div.MdSlideContianer

      ul.mdSlideListImg
        each val in ['DSCF4256.jpg', 'DSCF1870.jpg', 'DSCF2033.jpg', 'DSCF4248.jpg', 'DSCF2559.jpg']
          li
            - var imgPath = '/assets/img/slide/'+val
            a(href="#")
              p.mdSlideCat Music
              p.mdSlideTtl
                span タイトルタイトルタイトルタイトルタイトルタイトル
              p.mdSlideImg
                img(src='#{imgPath}')

      - var i = 5
      ul.mdSlideListPager
        while i--
          li
            a.icon-icon01(href="#")

      ul.mdSlideListBtn
        li.mdSlideListBtnBack
          a.icon-icon02(href="#")
        li.mdSlideListBtnNext
          a.icon-icon04(href="#")

    section
      h2.MdHdgCmn01 
        span All Contents

      .LyCntsList
        each val in ['DSCF4256.jpg', 'DSCF1870.jpg', 'DSCF2033.jpg', 'DSCF4248.jpg','DSCF4256.jpg', 'DSCF1870.jpg', 'DSCF2033.jpg', 'DSCF4248.jpg','DSCF4256.jpg', 'DSCF1870.jpg', 'DSCF2033.jpg', 'DSCF4248.jpg',]
          section.MdCntsThumb01
            a(href="#")
              p.mdCntsThumb01Img
                - var imgPath = '/assets/img/slide/'+val
                img(src='#{imgPath}')
              div.mdCntsThumb01InfoClm
                div.mdCntsThumb01Clm01
                  p.mdCntsThumb01Cat Music
                div.mdCntsThumb01Clm02
                  p.mdCntsThumb01Date 2016/02/01
              div.mdCntsThumb01InfoInBox
                h2.mdCntsThumb01Ttl タイトルタイトルタイトルタイトルタイトル
                p.mdCntsThumb01Txt テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
              p.mdCntsThumb01Icn
                span.icon-icon04
              div.mdCntsThumb01Cover
                p.mdCntsThumb01Txt Read More

    ul.MdPager01
      li
        a.stay(href="#") 1
      li
        a(href="#") 2
      li
        a(href="#") 3
      li
        a(href="#") 4
      li
        a(href="#") 5

    .LyFtr
      footer.MdFtr
        p.mdFtrCopyright Copyright &copy; 2015 horiuchi. All right reserved.

    .LyPlayer
      .MdPlayer
        .mdInner
          p.mdTtl
            span Movie Player
          p.mdIframe.
            <iframe src="https://www.youtube.com/embed/C1DmxDNwbRg" width="600" height="300" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>

    script(src="/assets/js/lib.js")
    script(src="/assets/js/app.js")
