doctype
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Indoor Living
    meta(name="description", content="")
    meta(name="keywords", content="")
    meta(name="author", content="")
    meta(property="og:title", content="")
    meta(property="og:type", content="website")
    meta(property="og:url", content="")
    meta(property="og:image", content="")
    meta(property="og:site_name", content="")
    meta(property="og:description", content="")
    meta(property="fb:app_id", content="")
    link(rel="stylesheet" href="/assets/css/layout.css")

body

  .LyHead
    header.MdHead
      p.mdLogo Indoor Living
      nav.MdGNV
        ul
          li.music
            a(href="#") Music
          li.camera
            a(href="#") Camera
          li.Interior
            a(href="#") Interior

p.icon_camera


  script(src="/assets/js/lib.js")
  script(src="/assets/js/app.js")
