doctype
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico")
    title Indoor Living
    meta(name="description", content="")
    meta(name="keywords", content="")
    meta(name="author", content="")
    meta(property="og:title", content="")
    meta(property="og:type", content="website")
    meta(property="og:url", content="")
    meta(property="og:image", content="")
    meta(property="og:site_name", content="")
    meta(property="og:description", content="")
    meta(property="fb:app_id", content="")
    link(rel="stylesheet" href="/assets/css/layout.css")
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-77747096-1', 'auto');
      ga('send', 'pageview');

  body.LySP

    #Main
      .LyHead
        header.MdHead
          h1.mdLogo Indoor Living
          p#BtnMenu.mdBtnMenu
            a(href="#")

      div.MdMvSingle01
        img(src='http://indoor-living.sakuraweb.com/wp/wp-content/uploads/2016/05/DSCF5353.jpg')

      section.MdMainSingle01
        div.mdContainer.
          <main class="mdMain" data-reactid=".0.1.1.0.0"><div class="MdCntsData01" data-reactid=".0.1.1.0.0.0"><p class="mdDate" data-reactid=".0.1.1.0.0.0.0">2016/5/30/</p><p class="mdCat" data-reactid=".0.1.1.0.0.0.1"><span data-reactid=".0.1.1.0.0.0.1.0"> </span><a data-reactid=".0.1.1.0.0.0.1.1">Interior</a></p></div><h1 class="MdTtlSingle01" data-reactid=".0.1.1.0.0.1">アルギュを窓に飾ってみよう</h1><div class="mdCms" data-reactid=".0.1.1.0.0.2"><p>実は家を買ったらやりたいことの一つがアルギュを飾ることだったんです。</p>
          <p>アルギュ（Algue）とはヴィトラ（Vitra）から発売されているロナン &amp; エルワンのブルレック兄弟がデザインしたパーテーションです。<br>
           一つ一つが木の枝のような形をしていて、これを組み合わせて自由にレイアウトすることができます。<br>
           ちなみに、アルギュとはフランス語で海草という意味らしいです。言われてみれば波間をたゆたう海草のような有機的なデザインですね。</p>
          <p>hhstyleで実物を見たり、実例写真を見るたびに「カッコいいなーー」と思い続けていたわけです。<br>
           家を購入し、ついにやりたい放題だ！ってわけなので早速アルギュ購入を決めました。</p>
          <p>今回はライトグリーンを選択。25本入りで￥8,640也。（会員登録で￥7,344になります。）<br>
           もちろんhhstyleで購入。</p>
          <h2 id="hdg1">まずは開封</h2>
          <p><img class="alignnone size-full wp-image-100" src="http://indoor-living.sakuraweb.com/wp/wp-content/uploads/2016/05/DSCF5353.jpg" alt="DSCF5353" width="1000" height="667"></p>
          <p>デザイン系の小物を買うたびに思うんですけど、パッケージのデザインからステキですよねー。おかげで我が家には捨てられない箱がけっこうあります・・・。</p>
          <p>開けるとこんな感じ。</p>
          <p><img class="alignnone size-full wp-image-106" src="http://indoor-living.sakuraweb.com/wp/wp-content/uploads/2016/05/DSCF5356.jpg" alt="DSCF5356" width="1000" height="667"></p>
          <p>パーツの下に説明書が入っています。</p>
          <p><img class="alignnone size-full wp-image-105" src="http://indoor-living.sakuraweb.com/wp/wp-content/uploads/2016/05/DSCF5700.jpg" alt="DSCF5700" width="1000" height="667"></p>
          <p>説明書です。耐荷重など。こことここを連結するといいよー的なことも書いてあります。</p>
          <h2 id="hdg2">どこから吊るす？</h2>
          <p>早速組み立てていきましょー！と思ったのですが、そもそもアルギュを吊るすための支点が必要です。<br>
           本来は天井にネジフックを設置してそこにかけるべきなのですが、嫁：「あまり穴は開けたくない」とのことなので、今回はコマンドタブを使うことに。<br>
           うーん見た目が良くないですね・・・。まあ、あまり視線が行く場所ではないので今回はこれでやってみましょう。</p>
          <p><img class="alignnone size-full wp-image-104" src="http://indoor-living.sakuraweb.com/wp/wp-content/uploads/2016/05/DSCF5697.jpg" alt="DSCF5697" width="1000" height="667"></p>
          <h2 id="hdg3">プラスチックの連結、それは固い</h2>
          <p>固いっす。指痛いっす。</p>
          <blockquote>
          <p>ジョイント用のピンがはまりにくい場合がありますので、ペンチなどを使って押し込んでいただくことをおすすめします。</p>
          </blockquote>
          <p>とhhstyleのサイトにもあるようにアルギュ同士をピンで連結する際にそれなりの力が必要です。<br>
           面倒臭がらずに素直にペンチを使いましょう。</p>
          <h2 id="hdg4">センス良くレイアウトするにはコツが必要</h2>
          <p><img class="alignnone size-full wp-image-102" src="http://indoor-living.sakuraweb.com/wp/wp-content/uploads/2016/05/DSCF5358.jpg" alt="DSCF5358" width="1000" height="667"></p>
          <p>一応これで完成です。</p>
          <p>「センス良くレイアウトするにはコツが必要だな・・・」25本レイアウトしてみた感想です。</p>
          <p>そして実例写真のようなレイアウトにするにはアルギュが数百本は必要ですね。<br>
           25本ではご覧のようにスッカスカになってしまいます。</p>
          <p>数の問題ならお金に物言わせて（おい）10箱くらい買っちゃえばいいんですが、また別の問題が。</p>
          <p>ネジフックでの固定を避けてコマンドタブで代用した結果、コマンドタブがアルギュを支えきれませんでした。<br>
           実はレイアウト途中で何回か落下しています。<br>
           コマンドタブ1つで1kgの耐荷重があるはずなんですが、均等に組まないと1か所に負荷がかかって落ちちゃうみたい。<br>
           とはいえ窓枠にネジフックする勇気もないので、ひとまず今回はこれで！</p>
          <h2 id="hdg5">アルギュ、あきらめません</h2>
          <p>25本じゃスッカスカじゃん！と感じた瞬間に2箱目をポチってました。<br>
           でもコマンドタブの耐荷重問題がクリアされていない状況ではアルギュの追加は難しそうです。<br>
           よって積みゲーならぬ積みアルギュです。<br>
           いつの日かアルギュ生い茂る窓辺を完成させますよー！</p>
          <p>アルギュの箱って2つ穴が空いてるんですよね。つーことはコードが通せそう。<br>
          （この箱使ってルーターとかオシャレに隠してみようかな・・・。）</p></div></main>

    section.
      <h2 class="MdHdgCmn01" data-reactid=".0.1.2.0"><span data-reactid=".0.1.2.0.0">Related Contents</span></h2><div class="LyCntsList" data-reactid=".0.1.2.1"><section class="MdCntsThumb01" data-reactid=".0.1.2.1.$0" ><a href="?type=single&amp;paged=313" data-reactid=".0.1.2.1.$0.0"><p class="mdCntsThumb01Img" data-reactid=".0.1.2.1.$0.0.0"><img src="http://indoor-living.sakuraweb.com/wp/wp-content/uploads/2016/05/DSCF5658-300x200.jpg" data-reactid=".0.1.2.1.$0.0.0.0"></p><div class="mdCntsThumb01InfoClm" data-reactid=".0.1.2.1.$0.0.1"><div class="mdCntsThumb01Clm01" data-reactid=".0.1.2.1.$0.0.1.0"><p class="mdCntsThumb01Cat" data-reactid=".0.1.2.1.$0.0.1.0.0">Interior</p></div><div class="mdCntsThumb01Clm02" data-reactid=".0.1.2.1.$0.0.1.1"><p class="mdCntsThumb01Date" data-reactid=".0.1.2.1.$0.0.1.1.0">2016.05.31</p></div></div><div class="mdCntsThumb01InfoInBox" data-reactid=".0.1.2.1.$0.0.2"><h2 class="mdCntsThumb01Ttl" data-reactid=".0.1.2.1.$0.0.2.0">イグスタイルファニチャーのちゃぶ台（CHABUDAI）は優秀な子でした</h2><p class="mdCntsThumb01Txt" data-reactid=".0.1.2.1.$0.0.2.1" >先日6年ほど愛用していたちゃぶ台を手放しました。思い入れ...</p></div><p class="mdCntsThumb01Icn" data-reactid=".0.1.2.1.$0.0.3"><span class="icon-icon04" data-reactid=".0.1.2.1.$0.0.3.0"></span></p><div class="mdCntsThumb01Cover" data-reactid=".0.1.2.1.$0.0.4"><p class="mdCntsThumb01Txt" data-reactid=".0.1.2.1.$0.0.4.0">Read More</p></div></a></section><section class="MdCntsThumb01" data-reactid=".0.1.2.1.$1" ><a href="?type=single&amp;paged=302" data-reactid=".0.1.2.1.$1.0"><p class="mdCntsThumb01Img" data-reactid=".0.1.2.1.$1.0.0"><img src="http://indoor-living.sakuraweb.com/wp/wp-content/uploads/2016/05/DSCF5759-300x200.jpg" data-reactid=".0.1.2.1.$1.0.0.0"></p><div class="mdCntsThumb01InfoClm" data-reactid=".0.1.2.1.$1.0.1"><div class="mdCntsThumb01Clm01" data-reactid=".0.1.2.1.$1.0.1.0"><p class="mdCntsThumb01Cat" data-reactid=".0.1.2.1.$1.0.1.0.0">Interior</p></div><div class="mdCntsThumb01Clm02" data-reactid=".0.1.2.1.$1.0.1.1"><p class="mdCntsThumb01Date" data-reactid=".0.1.2.1.$1.0.1.1.0">2016.05.30</p></div></div><div class="mdCntsThumb01InfoInBox" data-reactid=".0.1.2.1.$1.0.2"><h2 class="mdCntsThumb01Ttl" data-reactid=".0.1.2.1.$1.0.2.0">アルテック（artek）のダイニングテーブルとチェア</h2><p class="mdCntsThumb01Txt" data-reactid=".0.1.2.1.$1.0.2.1">我が家のインテリアを紹介するとなると、まずはアルテック（...</p></div><p class="mdCntsThumb01Icn" data-reactid=".0.1.2.1.$1.0.3"><span class="icon-icon04" data-reactid=".0.1.2.1.$1.0.3.0"></span></p><div class="mdCntsThumb01Cover" data-reactid=".0.1.2.1.$1.0.4"><p class="mdCntsThumb01Txt" data-reactid=".0.1.2.1.$1.0.4.0">Read More</p></div></a></section></div>

    .LyFtr
        footer.MdFtr
          p.mdFtrCopyright Copyright &copy; 2016 Indoor Living All right reserved.

      //- #MdLoading
      //-   div
      //-     ul
      //-       li
      //-       li
      //-       li


    script(src="/assets/js/lib.js")
    script(src="/assets/js/slick.js")
    //script(src="/assets/js/app.js")

    script.
      $(document).ready(function(){

        $('.mdSlideListImg').slick({
          infinite: true,
          arrows: false,
          dots: true,
          slidesToShow: 1,
          slidesToScroll: 1
        });
      });